#lead {
    cursor: pointer;
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 6%;
    z-index: 99;
}

#lead img {
    background: #109300;
    border-radius: 50px;
    border: 4px solid #fff;
}

#lead {
    left: 5%;
}

.blead {
    background: #109300;
    width: 230px;
    height: 40px;
    border: 4px solid #fff;
    border-radius: 50px;
    position: absolute;
    top: 15px;
    z-index: -1;
    text-align: right;
    font-weight: 600;
    color: white;
    padding: 5px 15px;
    font-size: medium;
}


@media screen and (max-width: 760px) {
    #lead img {
        background: #109300;
        border-radius: 50px;
        border: 2px solid #fff;
    }

    .blead {
        background: #109300;
        width: 200px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50px;
        position: absolute;
        top: 37px;
        left: 22px;
        z-index: -1;
        text-align: right;
        font-weight: 300;
        color: white;
        padding: 2px 28px;
        font-size: medium;
    }
}

/*=================*/
.buttons {
    position: absolute;
    height: 30px;
    right: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons a {
    padding: 4px 8px;
    cursor: pointer;
    color: white;
}

.buttons a:hover {
    background: pink;
}

.create-file {
    color: red;
    font-size: smaller;
    cursor: pointer;
}